*~
.hydra
*pyc
datasets
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_clip/*
evaluations_clip/*
experiments_finetune_clip/*
experiments_clip_old/*
evaluations_clip_old/*
experiments_finetune_clip_old/*
pace_models/*
*.zip
*.out
experiments_saved/
clip/
gpt/
bert/
logs/
*.mp4
libero.egg-info/
.vscode/
